@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800|Work+Sans:400,600&display=swap');
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: Poppins;
	font-style: normal;
	background: #e5e5e5;
	width: 100%;
	padding: 0;
	margin: 0;
}
/* navbar */
#navbar-brand {
	position: relative;
	left: 117px;
	top: -1px;
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;

	color: #043053;
}
#navbar-brand2 {
	position: relative;
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
	left: 50px;
	color: #043053;
}

#navbar-toggler {
	border: none;
}
#nav-ul-1 {
	position: absolute;
	width: 45px;
	height: 23px;
	left: 279px;
	top: 20px;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	color: #000;
}
#nav-ul-2 {
	position: absolute;
	width: 44px;
	height: 23px;
	right: 300px;
	top: 20px;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	/* identical to box height */

	color: #000000;
}
#nav-btn {
	position: absolute;
	width: 120px;
	margin-left: 20px;
	top: -4px;
	padding-top: 10px;
	padding-bottom: 12px;
	color: white;
	background: #20ae6b;
	border-radius: 4px;
}
#nav-btn:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
#nav-item .active {
	color: #20ae6b;
	width: 80px;
	background: rgba(32, 174, 107, 0.1);
	border-radius: 3px;
}
#nav-item {
	margin-right: 10px;
	color: #000000;
}
.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: -moz-linear-gradient(135deg, #fff 0%, #fff 100%);
	background-image: -webkit-linear-gradient(135deg, #fff 0%, #fff 100%);
	background-image: -ms-linear-gradient(135deg, #fff 0%, #fff 100%);
	background-image: linear-gradient(135deg, #fff 0%, #fff 100%);
	-webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 992px) {
	#navbar-brand2 {
		position: relative;
		left: 10px;
		font-weight: 700;
		font-size: 30px;
		line-height: 45px;

		color: #043053;
	}
}
@media screen and (max-width: 340px) {
	#navbar-brand2 {
		position: relative;
		left: -4px;
		font-weight: 700;
		font-size: 30px;
		line-height: 45px;

		color: #043053;
	}
}
/* end */
/* header */
#header-vector {
	position: absolute;
	left: 80px;
	right: 0%;
	width: 1700px;
	top: -50px;
	bottom: 0.1%;
	opacity: 0.3;
	z-index: -1;
}
#header-h1 h1 {
	position: relative;
	top: 238px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 60px;
	/* or 120% */

	text-align: center;

	color: #172a3b;
}
#tagline {
	position: absolute;

	top: 410px;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 29px;
	/* or 162% */

	text-align: center;

	color: #4a5568;
}
#header-btns {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 608px;
}
#header-btn-1 {
	text-decoration: none;
	color: #043053;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	width: 190px;
	height: 58px;
	padding-top: 15px;
	text-align: center;
	margin-right: 20px;
	/* left: 45%; */
	border-radius: 4px;
	border: 1px solid #043053;
}
#header-btn-1:hover {
	border: 1px solid #20ae6b;
	color: #20ae6b;
}
#header-btn-2 {
	text-decoration: none;
	background: #20ae6b;
	border-radius: 4px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	padding-top: 15px;
	width: 190px;
	height: 58px;
	/* left: 950px; */

	color: white;
}
#header-btn-2:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
/* Dashboard Div */
#dashboard-img {
	position: absolute;
	width: 1240px;
	height: 815px;
	top: 789px;
}
@media screen and (max-width: 1360px) {
	#dashboard-img {
		width: 864px;
		height: 568px;
	}
}
@media screen and (max-width: 1200px) {
	#header-btns {
		top: 525px;
	}
	#dashboard-img {
		top: 668px;
	}
}

@media screen and (max-width: 500px) {
	#header-h1 h1 {
		font-size: 28px;
		top: 110px;
		line-height: 35px;
		text-align: left;
	}

	#tagline {
		text-align: left;
		font-size: 14px;
		top: 248px;
		padding-left: 4rem;
	}
	#header-btn-1 {
		width: 151px;
		height: 44px;
		padding-top: 8px;
		margin-right: 10px;
	}
	#header-btns {
		position: absolute;
		top: 400px;
	}
	#header-btn-2 {
		width: 151px;
		height: 44px;
		padding-top: 8px;
	}
}
@media screen and (max-width: 440px) {
	#header-h1 h1 {
		padding-left: 2rem;
	}
	#tagline {
		padding-left: 1.7rem;
	}
	#header-btns {
		position: absolute;
		top: 400px;
	}
}
@media screen and (max-width: 400px) {
	#header-h1 h1 {
		padding-left: 2rem;
	}
	#tagline {
		padding-left: 1.7rem;
	}
	#header-btns {
		position: absolute;
		top: 400px;
		/* left: 4px; */
	}
}
@media screen and (max-width: 340px) {
	#header-h1 h1 {
		font-size: 25px;
		right: 20px;
		top: 90px;
	}
	#tagline {
		top: 228px;
	}
	#tagline {
		padding-left: 0.3rem;
	}
	#header-btns {
		position: absolute;
		top: 380px;
	}
}
/* End */

/* end */
/* about */
#about-section {
	margin-top: 1500px;
}
#about-div {
	background-color: #f4fbf8;
	width: 100%;
	padding-bottom: 94px;
}
#abt-ctn-h {
	padding-top: 100px;
}
#card-1 {
	width: 558px;
	height: 230px;
	background: #fff;
	border-radius: 4px;
	color: #172a3b;
	padding: 35px;
	font-family: Work Sans;
	cursor: pointer;
}
#card-1:hover {
	background: #0cc698;
	color: white;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}
#card-2 {
	margin-top: 20px;
	width: 558px;
	height: 230px;
	background: #fff;
	border-radius: 4px;
	padding: 35px;
	color: #172a3b;
	font-family: Work Sans;
	cursor: pointer;
}
#card-2:hover {
	background: #0cc698;
	color: white;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}
#abt-card-h5 {
	font-family: Work Sans;
	font-weight: 500;
	font-size: 22px;
	font-size: 22px;
	margin-bottom: 20px;
}
#abt-card-p {
	font-family: Work Sans;
	font-size: 17px;
	line-height: 26px;
}
#card-3 {
	margin-top: 20px;
	width: 558px;
	height: 230px;
	background: #fff;
	border-radius: 4px;
	padding: 35px;
	color: #172a3b;
	font-family: Work Sans;
	cursor: pointer;
}
#card-3:hover {
	background: #0cc698;
	color: white;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}
#about-header h2 {
	width: 430px;
	height: 79px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	line-height: 39px;
	color: #172a3b;
	margin-bottom: 25px;
}

#about-tag p {
	width: 416px;
	height: 111px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 28px;
	color: #4a5568;
}
#about-img {
	margin-top: 132px;
}

#about-img img {
	width: 421px;
	height: 398px;
}
/* @media screen and (max-width: 990px) {
	#about-section {
		margin-top: 400px;
	}
} */
@media screen and (max-width: 1360px) {
	#about-section {
		margin-top: 1300px;
	}
}
@media screen and (max-width: 1200px) {
	#about-section {
		margin-top: 1150px;
	}
	#about-header h2 {
		width: 365px;
		height: 79px;
		font-size: 30px;
		line-height: 39px;
	}
	#abt-card-h5 {
		font-size: 19px;
		line-height: 22px;
	}
	#abt-card-p {
		font-size: 15px;
		line-height: 22px;
	}
	#about-tag p {
		width: 366px;
		height: 139px;
		font-size: 17px;
		line-height: 28px;
	}
	#about-div {
		padding-bottom: 40px;
	}
	#card-1 {
		width: 422px;
		height: 208px;
	}
	#card-2 {
		width: 422px;
		height: 208px;
	}
	#card-3 {
		width: 422px;
		height: 208px;
	}
	#about-img img {
		width: 382px;
		height: 361px;
	}
}

@media screen and (max-width: 500px) {
	#about-section {
		margin-top: 400px;
	}
	#about-div {
		padding-bottom: 0;
	}
	#abt-ctn-h {
		padding-top: 34px;
	}
	#card-1 {
		width: 315px;
		height: 157px;
	}
	#card-2 {
		width: 315px;
		height: 157px;
	}
	#card-3 {
		width: 315px;
		height: 157px;
	}
	#card-1-div {
		display: flex;
		justify-content: center;
	}
	#card-2-div {
		display: flex;
		justify-content: center;
	}
	#card-3-div {
		display: flex;
		justify-content: center;
	}
	#abt-card-h5 {
		font-size: 14px;
		margin-bottom: 10px;
	}
	#abt-card-p {
		font-size: 12px;
		line-height: 15px;
		width: 249px;
	}
	#about-img {
		display: flex;
		justify-content: center;
		margin-top: 35px;
	}
	#about-img img {
		width: 200px;
		height: 150px;
	}
}
@media screen and (max-width: 330px) {
	#card-1 {
		width: 290px;
	}
	#card-2 {
		width: 290px;
	}
	#card-3 {
		width: 290px;
	}
}
/* getting Started */

#get-str-div {
	margin-top: 267px;
}
#getStr-img-div {
	display: flex;
	justify-content: end;
	padding-top: 130px;
}
#getStr-img-div img {
	/* position: relative; */
	width: 1250px;
	height: 700px;
	/* left: -150px; */
}
#get-h2-div {
	display: flex;
	justify-content: center;
	margin-right: -180px;
}
#getStr-h2 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	line-height: 44px;
	color: #061f3c;
	width: 306px;
	height: 88px;
}
#getstr-h2 span {
	color: #20ae6b;
	letter-spacing: 0.5px;
}
#steps {
	margin-top: 34px;
	margin-left: 110px;
	margin-bottom: 41px;
}
#step-p {
	color: #768493;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.5px;
	font-family: Work Sans;
}
#num-cont {
	border: 2px solid #d2efe1;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #768493;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	margin-right: 20px;
}
#getStr-btn {
	padding-top: 50px;
}
#getStr-btn a {
	padding-left: 51px;
	padding-right: 52px;
	text-decoration: none;
	background-color: #20ae6b;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Work Sans;
	color: white;
	border-radius: 8px;
	cursor: pointer;
}
#getStr-btn a:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1360px) {
	#get-h2-div {
		margin-right: -80px;
	}
	#steps {
		margin-left: 10px;
	}
	#get-str-div {
		margin-top: 130px;
	}
	#getStr-img-div img {
		height: 468px;
		left: 499px;
	}
}
@media screen and (max-width: 500px) {
	#get-str-div {
		margin-top: 35px;
	}
	#getStr-btn {
		width: 168px;
	}
	#getStr-btn a {
		padding-left: 21px;
		padding-right: 22px;
		padding-top: 15px;
		padding-bottom: 18px;
		font-size: 14px;
	}
	#get-h2-div {
		margin-right: -80px;
	}
	#steps {
		margin-left: 110px;
	}
	#get-str-div {
		margin-top: 130px;
	}
	#getStr-img-div img {
		height: 468px;
		left: 499px;
	}
	#plo-div {
		position: relative;
		left: 30px;
	}
	#getstr-h2 {
		font-size: 26px;
	}
	#get-h2-div {
		margin-right: -190px;
		/* border: 1px solid red; */
	}
	#step-p {
		font-size: 15px;
		line-height: 30px;
		width: 112px;
	}
	#plo-div {
		position: relative;
		top: 4px;
		left: 35px;
	}
}

@media screen and (max-width: 340px) {
	#getstr-h2 {
		font-size: 27px;
	}
	#plo-div {
		position: relative;
		top: 4px;
		left: 30px;
	}
}
/* sponsors */
#sponsor-cont {
	padding-top: 190px;
}
#sponsors-header {
	text-align: center;
}

#sponsors-header > div > h2 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 36px;
	color: #333333;
	margin-bottom: 12px;
}
#sponsors-header > div > p {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;
	color: #8b909c;
}
#sponsors-body {
	margin-top: 83px;
}
#sponsors-card {
	width: 204px;
	height: 158px;
	background: #ffffff;
	box-shadow: 0px 10px 65px rgba(197, 201, 211, 0.5);
	border-radius: 10px;
	display: flex;
	justify-content: center;
}
#sponsors-footer {
	margin-top: 260px;
}
#try-bitcart > h1 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 60px;
	color: #043053;
	margin-bottom: 19px;
}
#try-bitcart > p {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 29px;
	color: #043053;
}
#sponsor-btn {
	margin-top: 100px;
}
#sponsor-btn a {
	color: white;
	text-decoration: none;
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 18px;
	padding-top: 17px;
	background: #20ae6b;
	border-radius: 4px;
}
#sponsor-btn a:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1360px) {
	#sponsor-cont {
		padding-top: 150px;
	}
	#sponsors-footer {
		margin-top: 180px;
	}
}
@media screen and (max-width: 500px) {
	#sponsor-cont {
		padding-top: 85px;
	}
	#sponsors-header {
		text-align: left;
	}
	#sponsors-body {
		margin-top: 42px;
	}
	#sponsors-card {
		width: 120px;
		height: 100px;
	}
	#sponsors-card > img {
		width: 80px;
		height: 100px;
	}
}
/* mobile app */
#mobile-app-cont {
	background-image: url('./images/image22.svg');
	background-color: #0a1825;
	margin-top: 228px;
}

#phone-img {
	margin-top: 245px;
}
#mobText-div {
	margin-top: 253px;
}
#mob-head h1 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
}
#mob-head p {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 29px;
	color: #ffffff;
	opacity: 0.6;
}
#mob-cont ul li {
	list-style: none;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 49px;
	color: #ffffff;
}
#mob-cont ul li::before {
	content: "•";
	font-size: 30px;
	padding-right: 10px;
	color: #20ae6b;
}
#app-dl > a img {
	margin-left: 10px;
}
@media screen and (max-width: 1360px) {
	#mobile-app-cont {
		margin-top: 128px;
	}
}
@media screen and (max-width: 1200px) {
	#phone-img {
		padding-top: 200px;
		margin-top: 0;
	}
	#phone-img img {
		width: 260px;
	}
	#mobText-div {
		padding-top: 100px;
		margin-top: 0;
	}
	#mob-head h1 {
		font-size: 30px;
		line-height: 60px;
	}
	#mob-head p {
		font-size: 14px;
		line-height: 29px;
	}
	#mob-cont ul li {
		font-size: 14px;
		line-height: 49px;
	}
	#mob-cont ul li::before {
		content: "•";
		font-size: 20px;
	}
}
@media screen and (max-width: 500px) {
	#mobile-app-cont {
		margin-top: 77px;
	}
	#mobText-div {
		margin-top: 60px;
		margin-bottom: 87px;
	}
	#mob-head h1 {
		line-height: 40px;
	}
	#mob-head p {
		font-size: 14px;
		line-height: 17px;
	}
	#app-dl > a img {
		width: 195px;
		height: 57px;
		margin-left: 0;
		margin-top: 30px;
	}
}
@media screen and (max-width: 340px) {
	#mob-head h1 {
		line-height: 40px;
		font-size: 25px;
	}
}
/* footer */

#footer {
	padding-left: 200px;
	padding-top: 203px;
	background: #172a3b;
	color: white;
	padding-bottom: 121px;
}
#brand h2 a {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	color: white;
	text-decoration: none;
	font-size: 30px;
}
#brand p {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;

	letter-spacing: 0.5px;
}
#abt ul li {
	list-style: none;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;

	letter-spacing: 0.5px;
}
#abt ul li a {
	color: white;
	text-decoration: none;
}
#copyright {
	background: rgba(23, 42, 59, 0.9);
	height: 60px;
	padding-top: 21px;
	padding-left: 200px;
}
#copyright p {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 1024px) {
	#footer {
		padding-left: 150px;
	}
	#copyright {
		padding-left: 100px;
	}
}
@media screen and (max-width: 500px) {
	#copyright {
		padding-left: 50px;
	}
	#footer {
		padding-left: 30px;
		padding-top: 100px;
		padding-right: 20px;
		padding-bottom: 80px;
	}
}
